{% extends 'app/base.html'%}
{% load static %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">HOME</a>
      <a class="nav-item nav-link" href="{% url 'about' %}">ABOUT</a>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'LogoutView' %}">LOGOUT</a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'user-login' %}">LOGIN</a>
      {% endif %}
    </div>
  </div>
</nav>
<!-- header section end -->
<!-- banner section start -->
<div class="banner_section">
  <section class="slide-wrapper">
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/dance.png' %}"></div>
                </div>
                <div class="col-md-6">
                  <h1 class="achive_text"> Evento </h1>
                  <p class="best_text">The best choice for you</p>
                  <!-- <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p> -->
                  <!-- <div class="appointment_bt"><a href="#">Make an appointment</a></div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
                <div class="col-md-6">
                  <h1 class="achive_text">Achive Your Style</h1>
                  <p class="best_text">The best place for your hairstyle</p>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo </p>
                  <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
                <div class="col-md-6">
                  <h1 class="achive_text">Achive Your Style</h1>
                  <p class="best_text">The best place for your hairstyle</p>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo </p>
                  <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="image_1"><img src="images/img-1.png"></div>
                </div>
                <div class="col-md-6">
                  <h1 class="achive_text">Achive Your Style</h1>
                  <p class="best_text">The best place for your hairstyle</p>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo </p>
                  <div class="appointment_bt"><a href="#">Make an appointment</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- banner section end -->
<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="unique_text">The unique story</p>
        <h1 class="years_text">Evento</h1>
        <p class="ipsum_text">Evento make your life happy with variety of events.. Here you can check out events and
          you can host your events enjoy the vibe with your friends and family</p>
        <div class="read_more_bt"><a href="{% url 'about' %}">READ MORE</a></div>
      </div>
      <div class="col-md-6">
        <div class="image_1"><img src="{% static 'images/pinkdance.jpeg' %}"></div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
<!-- service section start -->

<div class="service_section layout_padding">
  <div class="container">
    <h1 class="services_text">Our Events</h1>
    <p class="dolor_text"> Check our events </p>
    <div class="service_section_2">
      <div class="row">
        {% for event in events %}
        <div class="col-sm-4">
          {% if event.event_image %}
          <img src="{{ event.event_image.url }}" class="img-responsive" alt=""/>
          
          {% endif %}
          <h1 class="classic_text">{{event.event_name}}</h1>
          <!-- <p class="consectetur_text"></p> -->
          <div class="read_bt_main">
            <div class="read_bt"><a href="{% url 'detailedview' event.id %}">Read More</a></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- service section end -->
  <!--discount section start -->
  <div class="discount_section layout_padding">
    <div class="container">
      <!-- <div class="discount_bg"> -->
      <div class="row">
        <div class="col" style="margin-left: 50%;">
          {% if events.has_previous %}
          <a href="?page=1" &laquo First></a>
          <a href="?page={{ events.previous_page_number }}">Previous</a>
          {% endif %}
          {{events.number}} of {{events.paginator.num_pages}}
          {% if events.has_next %}
          <a href="?page={{events.next_page_number}}">Next</a>
          <!-- <a href="?page={{events.paginator.num_pages}}">Last &raquo</a> -->
          {% endif %}
        </div>
        <!-- <div class="col-sm-4"> -->
        <!-- <div class="image_6"><img src="images/img-6.png"></div> -->
        <!-- </div> -->
      </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- discount section end -->
  <!-- client section start -->
  <div class="client_section layout_padding">
    <h1 class="client_taital">What is Say Our Customer</h1>
    <div class="container">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Alex jorze</h3>
                  <p class="reader_text">evento is a wonderful website for event hosting. evento help me to host my events 
                    and i got more viewers in my event this more user-friendly wesite</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Stip mark</h3>
                  <p class="reader_text">evento is a Beautiful website where we can 
                    choose the best event for us it provide us with detail information about the events 
                   </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Khaleel </h3>
                  <p class="reader_text">Good website for hosting your events </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Gibin John</h3>
                  <p class="reader_text">Awesome website for finding best events</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Alex jorze</h3>
                  <p class="reader_text">t is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                    making it look</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="alex_bg">
                  <h3 class="alex_text">Stip mark</h3>
                  <p class="reader_text">t is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                    making it look</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-long-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- client section end -->
  <!-- contact section start -->
  <div class="contact_section layout_padding">
    <div class="container">
      <h1 class="contact_taital">Contact Us</h1>
      <div class="contact_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="mail_section">
              <input type="text" class="mail_text" placeholder="Name" name="text">
              <input type="text" class="mail_text" placeholder="Email" name="text">
              <input type="text" class="mail_text" placeholder="Phone Number" name="text">
              <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
              <div class="send_bt"><a href="#">SEND</a></div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- <div class="map_text"><img src="{% static 'images/call-icon-1.png'%}"><span class="call_text_left">+01 9876543210</span>
                <div class="map_text"><img src="{% static 'images/mail-icon-1.png' %}"><span class="call_text_left">democheck@gmail.com</span>
                <div class="map_text_1"><img src="{% static 'images/map-icon-1.png' %}"><span class="call_text_left">t is a long established fact that a reader will be distracted by the readable conten</span>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- contact section end -->
<!-- join us section start -->

<div class="join_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="member_text"> To Publish Your Event? Join With Us</h1>
      </div>
      {% if user.is_authenticated%}
      <div class="col-md-6">
        <div class="join_bt"><a href="{% url 'event' %}">JOIN</a></div>
      </div>
      {% else %}
      <div class="col-md-6">
        <div class="join_bt"><a href="{% url 'user-login' %}">JOIN</a></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- join us section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="">
      <ul>
        <li><img src="{% static 'images/call-icon-1.png'%}"><span class="call_text_left">+01 9876543210</span></li>
        <br>
        <li><img src="{% static 'images/mail-icon-1.png' %}"><span class="call_text_left">sayonetech@gmail.com</span>
        </li><br>
        <li><img src="{% static 'images/map-icon-1.png' %}"><span class="call_text_left">Sayone Technologies</span>
        </li>
      </ul>
    </div>
    <!-- <p class="lorem_ipsum_text">Sayone Technologies </p> -->
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">*************</a></p>
  </div>
</div>
{% endblock body %}
<!-- copyright section end -->
<!-- Javascript files-->