{% extends 'app/base.html'%}
{% load static %}
{% load crispy_forms_tags%}
{% block body %}
    <!-- <section>
        <div class="product">
            <div class="description">
                <h3>{{ product.name }}</h3>
                <hr />
                {% for price in prices %}

                <div>
                    <h5>${{ price.price }}</h5>
                    <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>
                </div>

                {% endfor %}
            </div>
        </div>
    </section> -->
    <div class="box-form">   
        
        <div class="description" style="margin-top: 10%;
        width: 100%;
        margin-left: 21%;">
        <p><h5><B>Payment Details : </B></h5></p> 
            {% for price in prices %}
            <div>
                Ticket Amount : ${{ price.price }}
                <br><br>
                <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block col-sm-2">Checkout</button>
                </form>
            </div>

            {% endfor %}
        </div>
    </div>
    
{% endblock body%}