{% extends 'app/base.html'%}
{% load static %}
{% load crispy_forms_tags%}
{% block ul %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'LogoutView' %}">Logout</a>
</li>
{% endblock ul %}
{% block nav %}
<div class="col">
    <h5><b> Hello {{request.user.username}}</b></h5>
</div>
{% endblock nav%}
{% block body %}
<!-- <section>
        <div class="product">
            <div class="description">
                <h3>{{ product.name }}</h3>
                <hr />
                {% for price in prices %}

                <div>
                    <h5>${{ price.price }}</h5>
                    <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>
                </div>

                {% endfor %}
            </div>
        </div>
    </section> -->
<div class="box-form">

    <div class="description" style="margin-top: 10%;
        width: 100%;
        margin-left: 21%;">
        <p>
        <h5><B>Payment Details : </B></h5>
        </p>
        {% for price in prices %}
        <div>
            For Publishing your event you need to pay : ${{ price.price }}
            <br><br>
            <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                {% csrf_token %}
                <div class="col">
                    <span>
                        <button type="submit" class="btn btn-primary btn-block col-sm-2">Continue</button>
                        <button type="button" class="btn btn-primary btn-danger col-sm-2" style="margin-left: 25%;" id="cancel">
                            <a href="{% url 'eventlist' %}"> Cancel</a>
                        </button>
                    </span>
    
                </div>
                
            </form>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock body%}